<style>
    h3 {
        padding-left: 15px;
    }
    h5 {
        padding-left: 25px;
    }
</style>
<h1>Credence Internship Project</h1>
<h3>Task</h3>
<h5>1. Enter and Retrieve Data into MongoDB Database and </h5>
<h5>2. End point to pass on data to front end</h5>
</br>
<form method="GET" action="/movies/list">
        <Button>Show Database</Button>
</form>
<p>Pass json to frontend <a href="/movies/list-json">/movies/list-json</a></p>